.m-phone {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: getBackgroundColor();
  border: 1px solid #eee;
  &>.main {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: $status-height;
    bottom: 0;
  }
}
